* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* header */
.header {
    padding: 16px 143px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.logo-h{
    position: absolute;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    line-height: 23.44px;
    top:56px;
    left: 163px;
}
.header-1{
    display: flex;
    margin-left: auto;
    width: 100%;
    justify-content: space-between;
}
.work-h{
    position: absolute;
    right:228px;
    top:56px;
    width: 75px;
    height: 23px;
}

.work-ht{
    display: flex;
    position: relative;
    font-size: 18px;
    font-family: "Mulish", sans-serif;
    line-height: 21.09px;
    font-weight: 700;
    z-index:1;
    top: -12px;
    left: -2px;
}

.work-ht::after{
    position: absolute;
    bottom: 1px;
    top: 12px;
    left: 2px;
    content: "";
    width: 75px;
    height: 12px;
    background-color: #FFE872;
    z-index: -1;
}

.get-h{
    position: absolute;
    right:104px;
    top:56px;
    width: auto;
    height: 23px;
}
.get-ht{
    display: flex;
    position: relative;
    font-size: 18px;
    font-family: "Mulish", sans-serif;
    line-height: 21.09px;
    font-weight: 700;
    z-index:1;
    top: -12px;
    left: -2px;
}
.get-ht::after{
    position: absolute;
    bottom: 1px;
    top: 12px;
    left: 2px;
    content: "";
    width: 101px;
    height: 12px;
    background-color: #FFE872;
    z-index: -1;
}


/* button */
.hero-text {
    font-family: "Mulish", sans-serif;
    margin-top: 27px;
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 32.4px;
}

h1 {
    font-family: "Abril Fatface", serif;
    font-size: 56px;
}

.primary-btn {
    display: block;
    position: relative;
    top:-10px;
    left:-10px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    color:#fff;
    background-color: #000;
    padding: 17px 48px;
    text-decoration: none;
    transform: translate(0,0);
    transition: 0.5s;
    border:none;
}
.primary-btn:hover{
    transform: translate(8px,8px);
}
/* .primary-btn:hover::after{
    transform: translate(-7px,-7px);
} */
/* .primary-btn:after{
    content: "";
    width: 100%;
    height: 100%;
    border: 3px solid #000;
    position: absolute;
    bottom: -8px;
    right:-8px;
    transform: translate(0,0);
    transition: 0.3s;
} */

.btn-wrapper {
    border: solid 3px black;
    width: fit-content;
    height: fit-content;
}

/* section */
.hero-section{
    margin-top: 24px;
    margin-bottom: 0px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #E6E7EB;
}
.container-hero{
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 110px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.hero-col {
    width: 50%;
}
.hero-section {
    height: 100vh;
    width: 100%;
    background-color: #F9EFE7;
    ;
}
h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 1.124;
}
.first-shadow{
    width: 736px;
    position: relative;
    z-index: 1;
}
.first-shadow::after{
    position: absolute;
    bottom: 10px;
    left: 86px;
    content: "";
    width: 291px;
    height: 24px;
    background-color: #FFE872;
    z-index: -1;
}

.second-shadow{
    width: 736px;
    position: relative;
    z-index: 1;
}
.second-shadow::after{
    position: absolute;
    bottom: 10px;
    left: 0px;
    content: "";
    width: 285px;
    height: 28px;
    background-color: #FFE872;
    z-index: -1;
}

.hero-text {
    width: 496px;
    color: var(--Text-Color, #000);
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-top: 27px;
    margin-bottom: 64px;
}
.scroll{
    position: absolute;
    writing-mode: vertical-rl;
    font-family: Mulish, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    right: 143px;
    bottom: 39px;
}

.line{
    position: absolute;
    width: 2px;
    height: 105px;
    background-color: #000;
    right: 174px;
    bottom: 1px;
}

/* second section  */


.section-2,
.section-3,
.section-4 {
     display: flex;
     justify-content: space-between;
}

.section2-btns button {
     width: 118px;
     height: 28px;
     flex-shrink: 0;
     background: #F9EFE7;
     margin-top: 20px;
     border: none;
     font-weight: 700;
     margin-right: 16px;
     width: fit-content;
}

.latest_work {
     color: #B7B4B9;
     font-family: "Mulish";
     font-size: 14px;
     font-style: normal;
     font-weight: 700;
     line-height: 109.3%;
     letter-spacing: 2.8px;
     text-transform: uppercase;
}

.section-header {
     color: var(--Text-Color, #000);
     font-family: "Abril Fatface";
     font-size: 56px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
}

#section2-text {
     color: var(--Text-Color, #000);
     font-family: "Mulish";
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 180%;
     width: 445px;
     margin-top: 32px;
}

#section2-btn {
     transition: .7s;
}

#section2-btn:hover {
     transform: translate(10px, 10px) scale(102%);
     transition: .7s;
}

.section2-img {
     position: relative;
}

#dot_pattern {
     position: absolute;
     left: -20px;
     bottom: -15px;
}

#arrow {
     position: absolute;
     right: 0;
     bottom: -40px;
}
#what-i-do {
    color: var(--Text-Color, #000);
    font-family: Abril Fatface;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#section4-h3 {
    color: var(--Text-Color, #000);
    font-family: "Mulish";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

#section4-text {
    color: var(--Text-Color, #000);
    font-family: "Mulish";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    width: 448px;
}

#work-samples {
    color: var(--Black, #000);
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
}

.footer {
    background-color: #F9EFE7;
    padding-top: 50px;
    height: 370px;
    margin: 200px 24px 24px 24px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#footer-header {
    color: var(--Text-Color, #000);
    font-family: "Abril Fatface";
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 448px;
}

#footer-text {
    color: var(--Text-Color, #000);
    font-family: "Mulish";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    width: 544px;
}

#reserved-right {
    position: absolute;
    top: 280px;
    
    color: #000;
    font-family: "Mulish";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}
.shadow-txt {
    position: relative;
}

.shadow-txt::after {
    background: #FFE872;
    width: 100%;
    height: 45%;
    content: "";
    position: absolute;
    bottom: 1px;
    left: 2px;
    z-index: -1;
}
.shadow-email {
    position: relative;
}

.shadow-email::after {
    background: #FFE872;
    width: 100%;
    height: 50%;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    z-index: -1;
}
